---
import BaseHTML from '../../layouts/BaseHTML.astro';
import MetaTag from '../../components/MetaTag.astro';
import fetchApi from '../../lib/strapi';
import type Language from '../../interfaces/language'
import {Debug} from 'astro/components'

import Main from '../../layouts/Main.astro';
// const folder=fs.open('w+','test.txt')

  const languages= await fetchApi<Language[]>({
    endpoint: 'languages',
    wrappedByKey: 'data',
  });


---

    <BaseHTML>
        <meta name="description" content="List of available African languages" slot="head"/>
        <title slot="title">Languages</title>
     
      <main>
        <!-- <Debug {routes}/> -->
      
      
          <Main>
            <h1> Browse through the list of available languages</h1>
              <ul>
                <li>
                {
                  languages.map((language) => (
                    <a href={`/languages/${language.attributes.slug}/`}>
                      {language.attributes.Language}
                    </a>
                  ))
                }
                <li/>
              </ul>
          </Main>
      </main>
    </BaseHTML>
 

