---
import Breadcrumbs from '../components/Breadcrumbs.astro'
const currentPath=Astro.url.pathname;

---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Playfair+Display:wght@400;500;600&family=Roboto:ital,wght@0,300;1,300&display=swap"
      rel="stylesheet"
    />
    <slot name="head"/>
    <slot name="title">
      <title>African Dictionary</title>
    </slot>
  </head>
  <body>
    <Breadcrumbs currentPath={currentPath}/>
    <slot> Body content goes in here</slot>
  </body>
</html>

<style is:global>
    body{
        font-family:'Open Sans', sans-serif;
        font-size:regular;
    }

    html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
</style>
